.item-container {
  display: flex;
  width: 100%;
  margin: 10px;

  input {
    margin-right: 10px;
  }
}

.item {
  display: flex;
  border: 1px solid #474747;
  border-radius: 10px;
  width: 100%;
  padding: 10px;
  margin-top: 10px;

  .details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    margin-left: 10px;

    .name-and-buttons {
      display: flex;
      justify-content: space-between;
      padding-top: 5px;

      h2{
        font-weight: 400;
        color: #104C9A;
        font-size: 24px;
      }

      .buttons {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
      }
    }

    .price-and-quantity {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .price{
        font-weight: 700;
        font-size: 24px;

        color: #104C9A;
    
    }
    }
  }
}
