@import '../../../../assets/styles/variables';
@import '../../../../assets/styles/mixins';

.product-card {
  max-width: 396px;
  background-color: $color-white-1;
  box-shadow: 5px 5px 50px 10px rgba(0, 0, 0, 0.25), -10px -10px 50px 10px #fffaf6;
  border-radius: 24px;
  position: relative;
}

.img-wrapper {
  position: relative;
}

.badge {
  position: absolute;
  top: 16px;
  left: 16px;
  font-size: 16px;
  color: $color-white-5;
  background: $gradient-orange;
}

.product-image {
  width: 100%;
  object-fit: cover;
  margin-bottom: 24px;
}

.favorite-btn {
  position: absolute;
  top: 23px;
  right: 23px;
  background: transparent;
  border: none;
  cursor: pointer;
}

.product-info {
  padding-left: 24px;
  padding-right: 24px;
  color: $color-blue-1;
}

.price-section {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.price {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.25;
}

.old-price {
  font-weight: 400;
  font-size: 20px;
  text-decoration: line-through;
  margin-left: 8px;
}

.product-title {
  font-weight: 600;
  font-size: 24px;
}

.product-brand {
  color: $color-blue-5;
  margin-bottom: 10px;
}

.colors {
  display: flex;
  gap: 6px;
  margin-bottom: 57px;
}

.color-dot {
  width: 24px;
  height: 24px;
}

.btn-cart-wrapper {
  display: flex;
  justify-content: center;
}

.add-to-cart {
  background: $gradient-blue;
  color: $color-white-1;
  border: none;
  padding: 8px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
  cursor: pointer;
  margin-bottom: 32px;

  &:hover {
    background: linear-gradient(180deg, #5395f6 0%, #0059aa 100%);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    transform: translateY(-2px);
  }
}
