// Colors
$color-white-1: #ffffff;
$color-white-2: #fff5ee;
$color-white-3: #cdd4da;
$color-white-4: #fff5ec;
$color-white-5: #f9f6ee;
$color-black-1: #000000;
$color-pink-1: #e8639e;
$color-pink-2: #fd1353;
$color-blue-1: #104c9a;
$color-blue-2: #003366;
$color-blue-3: #003366;
$color-blue-4: #1f487e;
$color-blue-5: #5a7dab;
$background-page-color: #f8f9fb;
// Shadow
$shadow: 0 6px 12px rgba(0, 0, 0, 0.08), 0 16px 32px rgba(0, 0, 0, 0.06);
$gradient: linear-gradient(180deg, #ff7400 0%, #df4300 100%);
