@import './reset';
@import './variables';
@import './mixins';
@import './fonts.scss';

/* Глобальні стилі */
body {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  overflow-x: hidden;
  background-color: $background-page-color;
}

.container {
  max-width: 1680px;
  margin: 0 auto;
  padding: 0;
  // margin-left: 120px;
  // margin-right: 120px;
}
