@import './reset';
@import './variables';
@import './mixins';
@import './fonts.scss';

/* Глобальні стилі */
body {
  font-family: $font-inter;
  font-weight: 400;
  overflow-x: hidden;
  background-color: $background-page-color;
}

.container {
  max-width: 1680px;
  margin: 0 auto;
  // padding-top: 56px;
  padding-bottom: 40px;
}
.section-container {
  padding-top: 36px;
  padding-bottom: 36px;
}
